<!DOCTYPE html>
<html>
<head>
<title>新增客户服务记录</title>
<link rel=’stylesheet’ href=’../stylesheets/style.css’ />
<script language="javascript" type="text/javascript" src="../javascripts/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script language="javascript" type="text/javascript" src="../javascripts/selectsearch.js"></script>

</head>
<body>
<div id="addservice" style=margin:20px>
	<h1>新增客户服务记录</h1>
	<form name="addservice" method="post" enctype="multipart/form-data" action="/service/addservice">
		<table bgcolor="#EAEAEA">
	     	<tr><td>服务编号</td><td><input type="text" name="servId" required="required" size="40"></td></tr>
			<tr><td>客户名称</td>
			<td>
				<select name="cstmName" id ="selectName">
				<%
					for(var i in customer){
				%>
					<option value="<%=customer[i].cstmName%>"><%=customer[i].cstmName%></option>
				<%
					}
				%>
			</td>
			</tr>
			<tr><td>终端用户</td>

			<%
				for(var i in customer){
			%>
				<td id = "<%=i%>" class="endclass">
					<select id="selectEnd<%=i%>">
					<%					
					for(var j in customer[i].contact){
					%>
						<option value="<%=customer[i].contact[j].owner%>"><%=customer[i].contact[j].owner%></option>
					<%
						}
					%>			
				</td>
				<td id = "add<%=i%>" class="endclass"><input type="button" onclick="location='/customer/customerview?name=<%=customer[i].cstmName%>&flag=2'" value="新增终端用户"></td>
			<%
				}
			%>

			</tr>
			<tr><td>服务类型</td>
				<td><select name="servType">
				<option value="电脑硬件">电脑硬件</option>
				<option value="电脑软件">电脑软件</option>
				<option value="打印机">打印机</option>
				<option value="网络连接">网络连接</option>
				<option value="网络设备">网络设备</option>
				<option value="无线">无线</option>
				<option value="服务器硬件">服务器硬件</option>
				<option value="服务器软件">服务器软件</option>
			</select></td></tr>
			<tr><td>服务方式</td>
				<td><select name="servWay">
				<option value="现场">现场</option>
				<option value="远程">远程</option>
			</select></td></tr>
			<tr><td>服务等级</td>
				<td><select name="servGrade">
				<option value="Level 1">Level 1</option>
				<option value="Level 2">Level 2</option>
				<option value="Level 3">Level 3</option>
			</select></td></tr>
			<tr><td>开始时间：</td><td><input id="" name="servStartTime" required="required" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:ss',readOnly:true})" /></td></tr>
			<tr><td>结束时间：</td><td><input id="" name="servEndTime" required="required" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:ss',readOnly:true})" /></td></tr>
			<tr><td>服务概述：</td><td><input type="text"  name="servBrief"></td></tr>
			<tr><td>添加附件：</td><td><input type="file" name="attach1"></td></tr>
			<tr><td></td><td><input type="submit" value="确定"></td>
				<td><input type="button" onclick="location='/search?flag=1'" value="查询"></td>
			</tr>
		</table >
	</form>
</div>	
</body>
<script language="javascript">
$(document).ready(function(){
	$(".endclass").hide();
	$("select[id^='selectEnd']").attr("name","");
	$("#0").show();
	$("#selectEnd0").attr("name","endName");
	$("#add0").show();

	var user = '<%- JSON.stringify(customer) %>'
	var user1 = JSON.parse(user);
 	var sortB = JSON.stringify(user1,["cstmName"]);
 	var array = [];
 	for(var i in user1){
 		array[i] = user1[i].cstmName;
 	}
})

	document.getElementById('selectName').onchange=function(){
		var obj=document.getElementById('selectName');
		var index=obj.selectedIndex;
		$(".endclass").hide();
		$("select[id^='selectEnd']").attr("name","");
		$("#"+index).show();
		$("#selectEnd"+index).attr("name","endName");
		$("#add"+index).show();

	}
</script>
</html>