<!DOCTYPE html>
<html>
<head>
<title>销售合同细节</title>
<link rel=’stylesheet’ href=’/stylesheets/style.css’ />
<script language="javascript"> 
//定位左上角
//self.moveTo(0,0);   
//调整屏幕
//self.resizeTo(screen.availWidth,screen.availHeight);
</script> 
</head>
<body>
	<div style=margin:20px >
		<table bgcolor="#EAEAEA">
		<tr><td>
			<table>
			<tr>
				<td>销售合同细节：</td>
				<td><input type="button" onclick="location='/addcontract'" value="新增合同"></td>
				<td><input type="button" onclick="location='/salescontract'" value="返回"></td>
				<td><input type="button" onclick="location='/search?flag=1'" value="查询"></td>
				<%
						if(saleslist[0].ctrctStatus != "完成"){
			    %>
				<td>
				<form name="deletecontract" method="post" action="/deletecontract?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>" onSubmit="javascript:return window.confirm('确认删除吗？')"> 
					<input type="submit" value="删除">
				</form>
				</td>
				<%
				}
				%>
			</tr>
			</table>
		</td></tr>
		<tr><td>
			<table bgcolor="#EAEAEA">
				<tr>
					<td>签约方</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctOwner%></td>
					<%
						if(saleslist[0].ctrctStatus != "完成"){
			    	%>
					<td><input type="button" onclick="location='/updatecontract?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>'" value="变更合同"></td>
					<%
					}
					%>
				</tr>
				<tr>
					<td>合同号：</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctId%></td>
					<td>合同金额：</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctValue%></td>
					<td>签订时间：</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctTime%></td>
					<td>合同简介：</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctBrief%></td>
				</tr>
				<tr>
					<td>客户名称：</td><td bgcolor="#BFEFFF"><%=saleslist[0].cstmName%></td>
					<%
					if(uid == "admin" || uid == "david"){
					%>
					<td>合同毛利：</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctGross%></td>
					<%
					}
					%>
					<td>终止时间:</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctEndTime%></td>
					<td>合同状态：</td><td bgcolor="#BFEFFF"><%=saleslist[0].ctrctStatus%></td>
				</tr>
				
			</table>
		</td></tr>

		<%
		if(uid == "admin" || uid == "david"){
		%>

		<tr><td>
			<table >
				<tr>
					<td>发票状态：</td>
					<%
					if(saleslist[0].bill != null){
			    	%>
						<td>累计金额：</td><td bgcolor="#BFEFFF"><%=saleslist[0].billtotalvalue%></td>
						<%
							var ratio = (saleslist[0].billtotalvalue)/saleslist[0].ctrctValue * 100;
							var ratio2 = ratio.toFixed(2);
						%>
						<td>累计比例：</td><td bgcolor="#BFEFFF"><%=ratio2%>%</td>
					<% } %>
				</tr>

				<%
				if(saleslist[0].bill != null){
			    	for(var i in saleslist[0].bill){
				%>
				<tr>
					<td></td>
					<td>开票金额：</td><td bgcolor="#BFEFFF"><%=saleslist[0].bill[i].billvalue%></td>
					<%
						var ratio = (saleslist[0].bill[i].billvalue)/saleslist[0].ctrctValue * 100;
						var ratio2 = ratio.toFixed(2);
					%>
					<td>开票比例：</td><td bgcolor="#BFEFFF"><%=ratio2%>%</td>
					<td>发票编号：</td><td bgcolor="#BFEFFF"><%=saleslist[0].bill[i].billno%></td>
					<td>收票人：</td><td bgcolor="#BFEFFF"><%=saleslist[0].bill[i].billowner%></td>
					<td>快递单：</td><td bgcolor="#BFEFFF"><%=saleslist[0].bill[i].billsheet%></td>
					<td>送票时间：</td><td bgcolor="#BFEFFF"><%=saleslist[0].bill[i].billtime%></td>
					<%
						if(saleslist[0].ctrctStatus != "完成"){
			    	%>
					<td>
						<input type="button" onclick="location='/updatebill?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>&flag=<%= i%>'" value="变更">
					</td>
					<td>
				<form name="deletecontract" method="post" action="/deletebill?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>&flag=<%= i%>" onSubmit="javascript:return window.confirm('确认删除吗？')"> 
					<input type="submit" value="删除">
				</form>
				</td>
					<% } %>

				</tr>
				<% }} %>
				<tr>
					<td></td>
					<%
						if(saleslist[0].ctrctStatus == "进行中"){
			    	%>
					<td><input type="button" onclick="location='/addbill?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>'" value="增加"></td>
					<% } %>
				</tr>
				<tr>
					<td>收款状态：</td>
					<%
						if(saleslist[0].gather != null){
					%>
						<td>累计金额：</td><td bgcolor="#BFEFFF"><%=saleslist[0].gathertotalvalue%></td>
						<%
							var ratio = saleslist[0].gathertotalvalue/saleslist[0].ctrctValue * 100;
							var ratio2 = ratio.toFixed(2);
						%>
						<td>收款比例：</td><td bgcolor="#BFEFFF"><%=ratio2%>%</td>
						<td>应收账款：</td><td bgcolor="#BFEFFF"><%=(saleslist[0].ctrctValue-saleslist[0].gathertotalvalue)%></td>
					<% } %>
				</tr>
				<%
				if(saleslist[0].gather != null){
			    	for(var i in saleslist[0].gather){
				%>
				<tr>
					<td></td>
					<td>到款金额：</td><td bgcolor="#BFEFFF"><%=saleslist[0].gather[i].gathervalue%></td>
					<%
						var ratio = saleslist[0].gather[i].gathervalue/saleslist[0].ctrctValue * 100;
						var ratio2 = ratio.toFixed(2);
					%>
					<td>比例：</td><td bgcolor="#BFEFFF"><%=ratio2%>%</td>
					<td>到款时间：</td><td bgcolor="#BFEFFF"><%=saleslist[0].gather[i].gathertime%></td>
				</tr>
				<% }} %>
				<tr>
					<td></td>
					<%
						if(saleslist[0].ctrctStatus == "进行中"){
			    	%>
					<td><input type="button" onclick="location='/addgather?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>'" value="增加"></td>
					<% } %>
				</tr>
				<tr>
				</tr>
			</table>
		</td></tr>
		<% } %>
		<tr><td>
			<table >
				<tr>
					<td>实物交付：</td>
				</tr>
				<tr>
					<td></td>
					<td>
					<table border="1" cellspacing="0">
						<tr>
							<td bgcolor="#8FBC8F">编号</td>
							<td bgcolor="#8FBC8F">设备型号</td>
							<td bgcolor="#8FBC8F">序列号</td>
							<td bgcolor="#8FBC8F">MAC</td>
							<td bgcolor="#8FBC8F">服务终止时间</td>
							<td bgcolor="#8FBC8F">送货时间</td>
							<td bgcolor="#8FBC8F">送货单号</td>
							<td bgcolor="#8FBC8F">收货人</td>
							<td bgcolor="#8FBC8F">操作</td>
						</tr>
						<%
						if(saleslist[0].material != null){
					    	for(var i in saleslist[0].material){
						%>
						<tr>
							<td bgcolor="#BFEFFF"><%=parseInt(i)+1%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].unittype%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].serialno%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].mac%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].endtime%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].deliverytime%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].deliveryno%></td>
							<td bgcolor="#BFEFFF"><%=saleslist[0].material[i].sender%></td>

							<%
							if(saleslist[0].ctrctStatus != "完成"){
			    			%>
							<td>
						<form name="deletecontract" method="post" action="/deletematerial?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>&flag=<%= i%>" onSubmit="javascript:return window.confirm('确认删除吗？')"> 
							<input type="submit" value="删除">
						</form>
						</td>
					<% } %>

						</tr>
						<% }} %>
					</table>
					</td>
				</tr>
				<tr>
					<td></td>
					<%
						if(saleslist[0].ctrctStatus == "进行中"){
			    	%>
					<td><input type="button" onclick="location='/addmaterial?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>'" value="增加"></td>
					<% } %>
				</tr>
			</table>
		</td></tr>
		<%
		if(uid == "admin" || uid == "david"){
		%>
		<tr><td>
			<table >
				<tr>
					<td>采购部分：</td>
				</tr>
				<%
				if(saleslist[0].purchase != null){
			    	for(var i in saleslist[0].purchase){
				%>
				<tr>
					<td>&nbsp</td>
					<td>采购合同编号：</td><td bgcolor="#BFEFFF"><a href="/purchasedetail?id=<%=encodeURIComponent(saleslist[0].purchase[i].purchsId)%>"><%=saleslist[0].purchase[i].purchsId%></a></td>
					<td>供应商：</td><td bgcolor="#BFEFFF"><%=saleslist[0].purchase[i].purchsName%></td>
					<td>合同金额：</td><td bgcolor="#BFEFFF"><%=saleslist[0].purchase[i].purchsValue%></td>
					<td>签订时间：</td><td bgcolor="#BFEFFF"><%=saleslist[0].purchase[i].purchsTime%></td>
					<td>合同简介：</td><td bgcolor="#BFEFFF"><%=saleslist[0].purchase[i].purchsBrief%></td>
				</tr>
				<% }} %>
				<tr>
					<td>&nbsp</td>
					<td><input type="button" onclick="location='/addpurchase?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>&owner=<%=encodeURI(saleslist[0].ctrctOwner)%>'" value="增加采购合同"></td>
				</tr>
			</table>
		</td></tr>
		<%
		}
		%>

		<tr>
			<td>
				<table>
				<tr>
					<td>其他备注：</td>
				</tr>
				<%
				if(saleslist[0].comment != null){
			    	for(var i in saleslist[0].comment){
				%>
				<tr>
					<td>&nbsp</td>
					<td bgcolor="#BFEFFF"> <%=saleslist[0].comment[i].time%>,<%=saleslist[0].comment[i].uid%>:  <%=saleslist[0].comment[i].content%> </td>
				</tr>
				<% }} %>
				<tr>
					<td>&nbsp</td>
					<td><input type="button" onclick="location='/addcomment1?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>'" value="增加备注"></td>
				</tr>
			</table>
			</td>	
		</tr>	
		<tr>

		<td>
			合同附件：<input type="button" onclick="location='/addattach?id=<%= encodeURIComponent(saleslist[0].ctrctId)%>&flag=1'" value="上传">
		</td>
	</tr>
		<%
		if(saleslist[0].attach != null){
		   	for(var i in saleslist[0].attach){
		%>
		<tr><td><a href="/download?flag=1&name=<%=saleslist[0].attach[i].filename%>"><%=saleslist[0].attach[i].originalname%></a></td></tr>
		<% }} %>
	</table>
	</div>

</body>
<script language=JavaScript>
/*
	var index=obj.selectedIndex;
		document.getElementById('inputid').required=false;
		document.getElementById( "inputtype").style.display= "none"; 
		document.getElementById( "customername").style.display= "inline"; 
		document.getElementById( "customerstatus").style.display= "none"; 

		document.getElementById('mySelect').onchange=function(){
		var index=obj.selectedIndex;
		if((index == 0)){
				document.getElementById('t1').style.display = "";
				document.getElementById( "inputtype").style.display= "none"; 
				document.getElementById( "customername").style.display= "inline"; 
				document.getElementById( "customerstatus").style.display= "none"; 
				document.getElementById('inputid').required=false;
		}
		else if(index == 2){
			document.getElementById('t1').style.display = "none"; 
			document.getElementById('inputid').required=false;
			document.getElementById( "inputtype").style.display= "none"; 
			document.getElementById( "customername").style.display= "none"; 
			document.getElementById( "customerstatus").style.display= "inline"; 
		}
		else{
			document.getElementById('t1').style.display = "none"; 
			document.getElementById( "inputtype").style.display= "inline"; 
			document.getElementById( "customername").style.display= "none"; 
			document.getElementById( "customerstatus").style.display= "none"; 
			document.getElementById('inputid').required=true;
		}		
	}
*/	
//document.getElementById( "控件ID ").style.display= "none "; 
//document.getElementById( "控件ID ").style.display= "inline "; 
</script>


</html>