<!DOCTYPE html>
<html>
<head>
<title>客户与供应商</title>
<link rel=’stylesheet’ href=’/stylesheets/style.css’ />
</head>
<body>
<div id="customerview">
	<h1>客户与供应商</h1>
     <%
     if( customer[0] != null ){
     %>
          <table bgcolor="#EAEAEA">
          <tr>
          	<td>公司名称：</td><td><%=customer[0].cstmName%></td>
     	</tr>
          <tr>
              <td>公司地址：</td><td><%=customer[0].cstmAddr%></td>
     	</tr>
          <%
               if(customer[0].contact != null){
               for(var i in customer[0].contact){
          %>
     		<tr>
     			<td>联系人：</td><td><%=customer[0].contact[i].owner%></td>
     			<td>手机：</td><td><%=customer[0].contact[i].cellno%></td>
     			<td>固话：</td><td><%=customer[0].contact[i].telno%></td>
     			<td>邮箱：</td><td><%=customer[0].contact[i].mail%></td>
                    <td>
                         <input type="button" onclick="location='/updatecontact?cstmName=<%= encodeURIComponent(customer[0].cstmName)%>&number=<%= i%>&flag=<%=flag%>'" value="变更">
                    </td>
                    <%
                         if(flag==1){
                    %>
                    <td>
                    <form name="deletecontact" method="post" action="/deletecontact?cstmName=<%=encodeURIComponent(customer[0].cstmName)%>&owner=<%= encodeURIComponent(customer[0].contact[i].owner)%>" onSubmit="javascript:return window.confirm('确认删除吗？')"> 
                         <input type="submit" value="删除">
                    </form>
                    </td>
                    <% } %>
     		</tr>
          <% }} %>

               <tr>
                    <td><input type="button" onclick="location='/addcontact?cstmName=<%= encodeURIComponent(customer[0].cstmName)%>&flag=<%=flag%>'" value="增加"></td>
                    </tr>
          <tr>
          <tr>
          <td>其他备注：</td><td><%=customer[0].otherinfo%></td>
          </tr>
		<td>公司附件：</td>
		</tr>
          
          <%
          if(customer[0].attach != null){
               for(var i in customer[0].attach){
          %>
          <tr><td><a href="/download?flag=3&name=<%=customer[0].attach[i].filename%>"><%=customer[0].attach[i].originalname%></a></td></tr>
          <% }} %>

          <%
              if(flag==1){
          %>
          <tr>
               <td><input type="button" onclick="location='/salescontract_boot'" value="返回"></td>
          </tr>
          <% } %>
          <%
              if(flag==2){
          %>
          <tr>
               <td><input type="button" onclick="location='/service/addservice'" value="返回"></td>
          </tr>
          <% } %>
          <%
              if(flag==3){
          %>
          <tr>
               <td><input type="button" onclick="location='/service/service_boot'" value="返回"></td>
          </tr>
          <% } %>
          
     </table>
     <%
     }
     else{
     %>
     <h1>没有数据</h1>
     <%}%>


</div>	
</body>
</html>