<!DOCTYPE html>
<html>
<head>
<title>客户服务细节</title>
<link rel=’stylesheet’ href=’../stylesheets/style.css’ />
<script language="javascript" type="text/javascript" src="../javascripts/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../javascripts/yescom.js"></script>
</head>
<body>
	<div style=margin:20px >
		<table bgcolor="#EAEAEA">
		<tr><td>
			<table>
			<tr>
				<td>客户服务细节：</td>
				<td><input type="button" onclick="location='/service/addservice'" value="新增服务单"></td>
				<td><input type="button" onclick="location='/service/service_boot'" value="返回"></td>
				<td><input type="button" onclick="location='/service/servicesearch'" value="查询"></td>
				<%
					if(uid == "david" || uid == "admin"){
			    %>
				<td>
				<form name="deleteservice" method="post" action="/service/deleteservice?id=<%= encodeURIComponent(servicelist[0].servId)%>" onSubmit="javascript:return window.confirm('确认删除吗？')"> 
					<input type="submit" value="删除">
				</form>
				</td>
				<%
				}
				%>
			</tr>
			</table>
		</td></tr>
		<tr><td>
			<table bgcolor="#EAEAEA">
				<tr>
					<td>客户名称</td><td bgcolor="#BFEFFF"><%=servicelist[0].cstmName%></td>
					<%
						if(uid == servicelist[0].servUid || uid == "david"){
			    	%>
					<td><input type="button" onclick="location='/service/updateservice?id=<%= encodeURIComponent(servicelist[0].servId)%>'" value="变更服务"></td>
					<%
					}
					%>
				</tr>
				<tr>
					<td>服务编号：</td><td bgcolor="#BFEFFF"><%=servicelist[0].servId%></td>
					<td>服务类型：</td><td bgcolor="#BFEFFF"><%=servicelist[0].servType%></td>
					<td>开始时间：</td><td bgcolor="#BFEFFF"><%=servicelist[0].servStartTime%></td>
					<td>终端用户：</td><td bgcolor="#BFEFFF"><%=servicelist[0].endName%></td>
				</tr>
				<tr>
					<td>服务等级</td><td bgcolor="#BFEFFF"><%=servicelist[0].servGrade%></td>
					<td>服务方式：</td><td bgcolor="#BFEFFF"><%=servicelist[0].servWay%></td>
					<td>结束时间:</td><td bgcolor="#BFEFFF"><%=servicelist[0].servEndTime%></td>
					<td>服务状态：</td><td bgcolor="#BFEFFF"><%=servicelist[0].servStatus%></td>
				</tr>
				<tr>
					<td></td><td></td>
					<td></td><td></td>
					<%
						var endDate = new Date(servicelist[0].servEndTime);
						var startDate = new Date(servicelist[0].servStartTime);
						var duration = endDate.getTime() - startDate.getTime();
						var time = duration/ (1000.0 * 60.0 * 60.0 );
						var time1 = time.toFixed(1);
					%>
					<td>服务时间:</td><td bgcolor="#BFEFFF"><%=time1%>小时</td>
				</tr>
			</table>
		</td></tr>
		
		<tr><td>
			<table >
				<tr>
					<td>服务概述：</td>
				</tr>
				<tr>
					<td></td>
					<td bgcolor="#BFEFFF"> <%=servicelist[0].servBrief%></td>
				</tr>
				<tr>
					<td>服务细节：</td>
				</tr>
				
				<tr>
					<td></td>
					<td><textarea name="servDetail" id="detail" cols="45" rows="6" style="OVERFLOW: visible" readonly="readonly" ></textarea></td>
				</tr>
				<tr>
				</tr>
			</table>
		</td></tr>
		<tr>
			<td>
				<table>
				<tr>
					<td>其他备注：</td>
				</tr>
				<%
				if(servicelist[0].comment != null){
			    	for(var i in servicelist[0].comment){
				%>
				<tr>
					<td>&nbsp</td>
					<td bgcolor="#BFEFFF"> <%=servicelist[0].comment[i].time%>,<%=servicelist[0].comment[i].uid%>:  <%=servicelist[0].comment[i].content%> </td>
				</tr>
				<% }} %>
				<tr>
					<td>&nbsp</td>
					<td><input type="button" onclick="location='/service/addservcomment?id=<%= encodeURIComponent(servicelist[0].servId)%>'" value="增加备注"></td>
				</tr>
			</table>
			</td>	
		</tr>	
		<tr>

		<td>
			服务附件：<input type="button" onclick="location='/service/addservattach?id=<%= encodeURIComponent(servicelist[0].servId)%>'" value="上传">
		</td>
	</tr>
		<%
		if(servicelist[0].attach != null){
		   	for(var i in servicelist[0].attach){
		%>
		<tr><td><a href="/service/download?name=<%=servicelist[0].attach[i].filename%>"><%=servicelist[0].attach[i].originalname%></a></td></tr>
		<% }} %>
	</table>
	</div>

</body>
<script language="javascript"> 
$(document).ready(function(){
	
	$(".ctrctValue").each(function(ii,vv){
   			//ii 指第几个元素的序列号。
    		//vv 指遍历得到的元素。
    		$(this).text(fmoney($(this).text()));
	});
	var aa = '<%=servicelist[0].servDetail%>';
	var reg=new RegExp("&lt;br&gt;","g");
	aa= aa.replace(reg,"\r\n");
	$("#detail").val(aa);

});
</script> 
</html>